.dual-slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; /* Ocupă întreaga lățime */
	margin: 0 auto;
	padding: 0; /* Eliminăm padding-ul pentru o aliniere corectă */
	position: relative;
	overflow: hidden; /* Ascunde orice conținut care depășește containerul */
}

.image-row-wrapper {
	position: relative;
	width: 100%; /* Asigură că wrapper-ul ocupă întreaga lățime */
}

.image-row {
	width: 100%;
	display: flex;
	gap: 8px; /* Creștem puțin spațiul între imagini */
	justify-content: flex-start; /* Aliniem imaginile la stânga */
	overflow: hidden; /* Ascundem orice imagine care depășește containerul */
}

.image-row img {
	height: 130px; /* Diminuăm înălțimea imaginilor */
	width: 130px; /* Diminuăm lățimea imaginilor */
	object-fit: cover; /* Asigurăm că imaginile sunt scalate corect fără a se distorsiona */
	border-radius: 8px;
}
